[project]
	description = Accounting lib is your comp(t)anion for general accounting in PHP
[access "refs/*"]
	owner = group user/Sébastien HOUZÉ (shouze)
[access "refs/for/refs/*"]
	read = group user/Sébastien HOUZÉ (shouze)
	push = group user/Sébastien HOUZÉ (shouze)
	label-Code-Review = -2..+2 group user/Sébastien HOUZÉ (shouze)
	label-Verified = -1..+1 group user/Sébastien HOUZÉ (shouze)
	rebase = group user/Sébastien HOUZÉ (shouze)
	removeReviewer = group user/Sébastien HOUZÉ (shouze)
	submit = group user/Sébastien HOUZÉ (shouze)
[access "refs/heads/*"]
	read = group user/Sébastien HOUZÉ (shouze)
	create = group user/Sébastien HOUZÉ (shouze)
	push = +force group user/Sébastien HOUZÉ (shouze)
	pushMerge = group user/Sébastien HOUZÉ (shouze)
[access "refs/tags/*"]
	push = +force group user/Sébastien HOUZÉ (shouze)
	pushTag = group user/Sébastien HOUZÉ (shouze)
	pushSignedTag = group user/Sébastien HOUZÉ (shouze)
